@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    width: 100vw;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1589672170649-cffa865316ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Z3JleSUyMHNreXxlbnwwfHwwfHw%3D&w=1000&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

a {
    color: unset;
    text-decoration: none;
}